<div class="tab-panel-unit row">
    <div class="col-lg-3 tab-panel-unit-img"
         style="background: url('{{ STATIC_URL }}alumniportal/img/convocation14.jpg');height:100px;width:150px;background-size: cover;">
    </div>
    <div class="col-lg-9 tab-panel-unit-body">
        <div class="pull-right tab-panel-unit-body-action">
            <a href="#"><span class="glyphicon glyphicon-pencil card-field"><span
                    class="card-field-font">Edit</span></span></a>
            <a href="#"><span class="glyphicon glyphicon-remove card-field"><span
                    class="card-field-font">Remove</span></span></a>
        </div>

        <div class="row tab-panel-unit-body-head">Convocation '14
        </div>
        <div class="row tab-panel-unit-body-desc">
            IIITD's 3rd Convocation to be held in the esteemed presence of Chief Guest Mr. Sunil
            Kant Munjal <br/>
            - link -
        </div>
    </div>
</div>