{% extends 'base.html' %}

{% block title %}Alumni Directory{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/directory.css">
{% endblock %}

{% block left_content %}

    <form class="row input-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add News</h2>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Headline</span>
            <input id="id_headline" name="headline" type="text" class="form-control" style="width:350px;">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Date</span>
            <input id="id_news_date" name="news_date" type="date" class="form-control" style="width:350px;">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Article</span>
            <textarea id="id_news_article" name="news_article" class="form-control" id="textarea" rows="3" style="width:350px;"></textarea>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Image</span>
            <input id="id_news_image" name="news_iamge" type="file" class="form-control" style="width:350px">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Gallery Link</span>
            <input id="id_news_link_gallery" name="news_link_gallery" type="text" class="form-control" style="width:350px;">
        </div>

        <button type="submit" class="btn btn-warning" style="width: 110px;margin-top: 10px;">Add</button>
    </form>

    <form class="row input-form" style="margin-top:50px;" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Event</h2>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Name</span>
            <input id="id_event_name" name="event_name" type="text" class="form-control" style="width:350px;">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Location</span>
            <input id="id_event_location" name="event_location" type="text" class="form-control" style="width:350px;">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Date</span>
            <input id="id_event_date" name="event_date" type="date" class="form-control" style="width:350px;">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Time</span>
            <input id="id_event_time" name="event_time" type="time" class="form-control" style="width:350px;">
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Description</span>
            <textarea id="id_event_description" name="event_description" class="form-control" id="textarea" rows="3" style="width:350px;"></textarea>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon" style="width:110px;">Link</span>
            <input id="id_event_link" name="event_link" type="text" class="form-control" style="width:350px;">
        </div>

        <button type="submit" class="btn btn-warning" style="width: 110px;margin-top: 10px;">Add</button>
    </form>

    <form class="row input-form" style="margin-top:50px;" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Directory</h2>


        <div class="form-group input-group" style="width: 500px">
            <label class="control-label input-group-addon" for="gradyear" style="width:140px;">Graduation Year</label>

            <div>
                <select id="id_gradyear" name="gradyear" class="form-control"
                        style="width:300px;border-radius: 0 4px 4px 0;">
                    <option value="-1">Select Year</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                </select>
            </div>
        </div>


        <div class="form-group input-group" style="width: 500px">
            <label class="control-label input-group-addon" for="degree" style="width:140px;">Degree</label>

            <div>
                <select id="id_degree" name="degree" class="form-control"
                        style="width:300px;border-radius: 0 4px 4px 0;">
                    <option value="-1">Select Degree</option>
                    {% for degree in degree_values %}
                        <option value = "{{ degree.name }}">{{ degree.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="input-group" style="margin-top:0;width: 500px;">
            <span for="id_file" class="input-group-addon" style="width:140px;">CSV</span>
            <input id="id_file" name="file" type="file" class="form-control" style="width:300px">
        </div>

        <button type="submit" class="btn btn-warning" style="width: 110px;margin-top: 10px;">Upload</button>
    </form>

{% endblock %}

{% block right_content %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/directory.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}