<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}IIITD Alumni Association{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}mosaic/css/mosaic.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include 'navbar.html' %}


<div class="container">
    {% block main %}
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10" id="green-dabba"></div>
        </div>

        <div id="contentpane" class="row">

            <div class="card-main col-lg-8">
                {% block left_content %}

                {% endblock %}
            </div>

            {% block parent_right_content %}
                <div class="card-event col-lg-offset-1 col-lg-3">
                    {% block right_content %}

                    {% endblock %}
                </div>
            {% endblock %}

        </div>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-10" id="green-dabba-2"></div>
        </div>
    {% endblock %}
    {% include 'footer.html' %}

</div>


<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mosaic/js/mosaic.1.0.1.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/feedback.js"></script>

{% block scripts %}{% endblock %}
</body>

</html>