{% extends 'base.html' %}

{% block title %}Alumni | Blog{% endblock %}

{% block left_content %}


    <div class="row">
        <h3>Blogs</h3>
    </div>


    {% include 'summary_blog.html' %}

    <div class="divider-4r"></div>

    <div class="row">
        <div class="col-lg-5">
            <div class="mosaic-block3 bar2">
                <div class="mosaic-backdrop">
                    <img src="{{ STATIC_URL }}alumniportal/img/raghavsethi.png"/>
                </div>
            </div>
        </div>
        <div class="summary-blog col-lg-7">
            <h2>IIIT-Delhi – A three year update </h2>
            <span class="info-colour">Raghav Sethi, Alumnus 2013</span>

            <p>
                I believe that IIIT-D is among the best places in the country to study computer science (and now
                possibly
                electronics and communication as well). However, as I... | <a
                    href="http://bookmarkmybrain.wordpress.com/2013/06/26/pick-iiit-delhi-three-year-update/"
                    target="_blank"><span
                    class="read-more">Read More</span><span class="glyphicon glyphicon-new-window"
                                                            style="font-size:13px"></span></a>
            </p>
        </div>
    </div>

    <div class="divider-4r"></div>

    <div class="row">
        <div class="col-lg-5">
            <div class="mosaic-block3 bar2">
                <div class="mosaic-backdrop">
                    <img src="{{ STATIC_URL }}alumniportal/img/ankitsarkar.png"/>
                </div>
            </div>
        </div>
        <div class="summary-blog col-lg-7">
            <h2>End of B.Tech</h2>
            <span class="info-colour">Ankit Sarkar, Alumnus 2012</span>

            <p>
                My B.Tech has ended. Wednesday, the second of May in 2012, at quarter past 6 in the evening, the last
                report was sent. And that's when my academic activity for my... | <a
                    href="http://ankitsarkar.blogspot.in/2012/05/end-of-btech.html" target="_blank"><span
                    class="read-more">Read More</span><span class="glyphicon glyphicon-new-window"
                                                            style="font-size:13px"></span></a>
            </p>
        </div>
    </div>


{% endblock %}

{% block right_content %}

    {% include 'events_upcoming.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/home.js"></script>
{% endblock %}