<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" style="height:75px;">
            <img src="{{ STATIC_URL }}alumniportal/img/user.jpg" class="img-circle pull-right" style="height:60px;width:60px;top:0;left:0;border:1px #ccc solid">
            <h4 class="panel-user-h4-2 h4-card" id="name">identifier_name</h4>
            <p id="info">identifier_info</p>
        </div>
        <div class="panel-body text-left">
            <span class="glyphicon glyphicon-inbox card-field"><span class="card-field-font" id="iiitd_email">identifier_iiitd_email</span></span><br/>
            <a><div class="btn btn-warning center-block" style="margin-top:15px;">
                Website
            </div></a>
        </div>
    </div>
</div>