<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="pull-right">Read More</a>
            <h4>Convocation '14</h4>
        </div>
        <div class="panel-body text-left">
            <span class="glyphicon glyphicon-map-marker card-field"> IIITD</span><br/>
            <span class="glyphicon glyphicon-calendar card-field"> Sunday, 31 August 14</span><br/>
            <span class="glyphicon glyphicon-time card-field"> 2pm</span><br/>

            <div class="clearfix"></div>
            <hr>
            wepiwpoinweoif nwoifnweoi nwoignrwoigwroig woighwroig hwrio....
        </div>
    </div>
</div>