<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading" style="height:75px;">
            <img src="{{ STATIC_URL }}alumniportal/img/user.jpg" class="img-circle pull-right" style="height:60px;width:60px;top:0;left:0;border:1px #ccc solid">
            <h4>User Name</h4>
        </div>
        <div class="panel-body text-left">
            <span class="glyphicon glyphicon-phone card-field"><span class="card-field-font">+91-4932922811</span></span><br/>
            <span class="glyphicon glyphicon-map-marker card-field"><span class="card-field-font">IIITD</span></span><br/>
            <div class="clearfix"></div>
            <a href="http://raghavsethi.org/"></a><div class="btn btn-warning center-block" style="margin-top:15px;">
                Website
            </div></a>
        </div>
    </div>
</div>