{% extends 'base.html' %}

{% block title %}Alumni Directory{% endblock %}

{% block left_content %}


    <div class="row">
        <div class="col-lg-4"  style="margin:0 5px 0 -15px;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4" style="margin:0 5px 0 0;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4">
            {% include 'card_contact2.html' %}
        </div>
    </div>

        <div class="row">
        <div class="col-lg-4"  style="margin:0 5px 0 -15px;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4" style="margin:0 5px 0 0;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4">
            {% include 'card_contact2.html' %}
        </div>
    </div>

        <div class="row">
        <div class="col-lg-4"  style="margin:0 5px 0 -15px;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4" style="margin:0 5px 0 0;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4">
            {% include 'card_contact2.html' %}
        </div>
    </div>


        <div class="row">
        <div class="col-lg-4"  style="margin:0 5px 0 -15px;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4" style="margin:0 5px 0 0;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4">
            {% include 'card_contact2.html' %}
        </div>
    </div>

        <div class="row">
        <div class="col-lg-4"  style="margin:0 5px 0 -15px;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4" style="margin:0 5px 0 0;">
            {% include 'card_contact2.html' %}
        </div>
    <div class="col-lg-4">
            {% include 'card_contact2.html' %}
        </div>
    </div>



{% endblock %}

{% block right_content %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/home.js"></script>
{% endblock %}