{% extends 'base.html' %}

{% block title %}Alumni Directory{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/directory.css">
{% endblock %}

{% block left_content %}
    <div class="row" style="margin: 20px auto;">
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"\>
                    Year
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="no-underline"><a href="#">2012</a></li>
                    <li class="no-underline"><a href="#">2013</a></li>
                    <li class="no-underline"><a href="#">2014</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="btn-group">
                <button type="button" class="btn btn-default">B.Tech.</button>
                <button type="button" class="btn btn-default">Dual</button>
                <button type="button" class="btn btn-default">M.Tech.</button>
                <button type="button" class="btn btn-default">Ph.D.</button>
            </div>
        </div>

        {#        #}
        {#        <div class="col-lg-6 filter-main">#}
        {#            <div class="col-lg-2" style="z-index: 900;">#}
        {#                <div class="img-circle filter-all">#}
        {#                    <span style="margin:50px -10px;">Degree</span>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <div class="col-lg-7 filter-individual"  style="z-index: 100;">#}
        {#                <span class="glyphicon filter-individual-1">Ph.D.</span>#}
        {#                <span class="glyphicon filter-individual-2" style="margin-left:20px;padding-left: 38px;">M.Tech.</span>#}
        {#                <span class="glyphicon filter-individual-3" style="margin-left:10px;padding-left: 42px;">B.Tech.</span>#}
        {#            </div>#}
        {#        </div>#}

    </div>

{#    <div class="row">#}
{##}
{#        <div class="dropdown">#}
{#            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">#}
{#                Graduation Year#}
{#                <span class="caret"></span>#}
{#            </button>#}
{##}
{#            <ul class="dropdown-menu" style="margin-top: -10px">#}
{#                {% for year in grad_years %}#}
{#                    <li><a onclick="yearSelected(this.innerHTML)">{{ year.graduation_year }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}

    <h1>Btech</h1>
    <p id="no_betch" style="display: none">Oops! No Students Found!!!</p>
    <div class="row">
    <div class="col-lg-4 pull-left" id="btech_col0" style="margin-left:-30px;"></div>
    <div class="col-lg-4 pull-left" id="btech_col1" style="margin-left:15px;"></div>
    <div class="col-lg-4 pull-left" id="btech_col2" style="margin-left:15px;"></div>
    </div>

    <div class="row">
    <h1>Mtech</h1>
    <p id="no_metch" style="display: none">Oops! No Students Found!!!</p>
    <div class="col-lg-4 pull-left" id="mtech_col0" style="margin-left:-30px;"></div>
    <div class="col-lg-4 pull-left" id="mtech_col1" style="margin-left:15px;"></div>
    <div class="col-lg-4 pull-left" id="mtech_col2" style="margin-left:15px;"></div>
    </div>

    <div class="row">
    <h1>Dual</h1>
    <p id="no_dual" style="display: none">Oops! No Students Found!!!</p>
    <div class="col-lg-4 pull-left" id="dual_col0" style="margin-left:-30px;"></div>
    <div class="col-lg-4 pull-left" id="dual_col1" style="margin-left:15px;"></div>
    <div class="col-lg-4 pull-left" id="dual_col2" style="margin-left:15px;"></div>
    </div>

    <div class="row">
    <h1>Phd</h1>
    <p id="no_phd" style="display: none">Oops! No Students Found!!!</p>
    <div class="col-lg-4 pull-left" id="phd_col0" style="margin-left:-30px;"></div>
    <div class="col-lg-4 pull-left" id="phd_col1" style="margin-left:15px;"></div>
    <div class="col-lg-4 pull-left" id="phd_col2" style="margin-left:15px;"></div>
    </div>

{% endblock %}

{% block right_content %}
    <div id="preview">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="height:75px;">
                    <img src="{{ STATIC_URL }}alumniportal/img/user.jpg" class="img-circle pull-right"
                         style="height:60px;width:60px;top:0;left:0;border:1px #ccc solid">
                    <h4>Sauhard Gupta</h4>
                </div>
                <div class="panel-body text-left">
                    <span class="glyphicon glyphicon-phone card-field"><span
                            class="card-field-font">+91-1234567890</span></span><br/>
                    <span class="glyphicon glyphicon-map-marker card-field"><span
                            class="card-field-font">IIITD</span></span><br/>

                    <div class="clearfix"></div>
                    <a href="http://raghavsethi.org/"></a>

                    <div class="btn btn-warning center-block" style="margin-top:15px;">
                        Website
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/directory.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}