<div class="row">

    <h3>Upcoming Events</h3>
</div>

{% include 'card_event_upcoming.html' %}
{#<div class="row">#}
{#    <div class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#            <!--<a href="#" class="pull-right">Read More</a>-->#}
{#            <h4>Event XYZ '14</h4>#}
{#        </div>#}
{#        <div class="panel-body text-left">#}
{#            <span class="glyphicon glyphicon-map-marker card-field"><span class="card-field-font">IIITD</span></span><br/>#}
{#            <span class="glyphicon glyphicon-calendar card-field"><span class="card-field-font">Nov 14</span></span><br/>#}
{##}
{#            <div class="clearfix"></div>#}
{#            <hr>#}
{##}
{#            <div class="btn btn-warning center-block" style="margin-top:15px;">#}
{#                Event Page#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}