<div id="black"></div>

<div id="feedback">
    <div>Feedback</div>
    <div title="Close" id="close">×</div>
    <p>
        Like our website? Let us know!
    <br>
        We look forward to your comments/suggestions!
    </p>
    <form>
        <input type="text" name="name" placeholder="Name" >
        <input type="email" name="email" placeholder="Email Address" >
        <textarea name="text_feedback" cols="30" rows="7" placeholder="Feedback" ></textarea>
        <input class="btn btn-warning" value="Submit!" onclick="submitFeedbackForm()">
    </form>
</div>