<div class="row">
    <div class="footer">
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}alumniportal/img/Logo.png" width="300" />
        </div>
        <div class="col-lg-8">
            <ul>
                <li><a>Home</a></li>
                <li><span>|</span></li>
                <li><a>About Us</a></li>
                <li><span>|</span></li>
                <li><a>Feedback</a></li>
                <li><span>|</span></li>
                <li><a>Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>

{% include "feedback.html" %}