{% extends 'base.html' %}

{% block title %}Alumni Home{% endblock %}

{% block left_content %}


    <div class="row">
        <h2>News</h2>

        {#Placeholder for main news.#}
        <div class="row">
            {% include 'summary_long_news.html' %}
        </div>

        {#Placeholder for smaller news.#}
        <div class="row">
            {% include 'summary_short_news.html' %}
            {% include 'summary_short_news.html' %}
            {% include 'summary_short_news.html' %}
        </div>
    </div>

    <div class="divider-4r"></div>


    <div class="row">
        {% include 'summary_blog.html' %}
    </div>


{% endblock %}

{% block right_content %}
    <div class="row">

    <h3>Upcoming Events</h3>
        </div>

    {% include 'card_event_upcoming.html' %}
    {% include 'card_event_upcoming.html' %}
    {% include 'card_event_upcoming.html' %}

{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/home.js"></script>
{% endblock %}