{% extends 'base.html' %}

{% block title %}Alumni Home{% endblock %}

{% block left_content %}
    <div class="row">
        <h2>News</h2>

        {#Placeholder for main news.#}
        <div class="row">
            <div class="mosaic-block bar2">
                <a href="#" target="_blank" class="mosaic-overlay">
                    <div class="details">
                        <h4>Convocation '14</h4><br/>

                        <p>
                            The third blah blah blah.....
                        </p>
                    </div>
                </a>

                <div class="mosaic-backdrop">
                    <img src="#"/>
                </div>
            </div>

        </div>

        {#Placeholder for smaller news.#}
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>

    </div>

{% endblock %}