{% extends 'base.html' %}

{% block title %}Alumni Home{% endblock %}

{% block left_content %}

    <div class="row">
        <!--<h3>News</h3>-->

        {#Placeholder for main news.#}

        {% include 'summary_long_news.html' %}


        {#Placeholder for smaller news.#}
        <div class="row">
            <div class="col-lg-4">
                <div class="mosaic-block2 fade2">
                    <a href="#" target="_blank" class="mosaic-overlay">
                        <div class="details2">
                            <h4>Research Showcase '14</h4><br/>

                            <p>Let's Go Invent!<br/>@Sunday, 22 March 2014</p>
                        </div>
                    </a>

                    <div class="mosaic-backdrop"><img
                            src="{{ STATIC_URL }}alumniportal/img/research-showcase-2014.jpg"
                            style="height:100%;width:auto;margin-left:-125px;"/></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mosaic-block2 fade2">
                    <a href="#" target="_blank" class="mosaic-overlay">
                        <div class="details2">
                            <h4>Alumni '14</h4><br/>

                            <p></p>
                        </div>
                    </a>

                    <div class="mosaic-backdrop"><img
                            src="{{ STATIC_URL }}alumniportal/img/IIITD-grad.jpg"
                            style="height:100%;width:auto;margin-left:-200px;"/></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mosaic-block2 fade2">
                    <a href="#" target="_blank" class="mosaic-overlay">
                        <div class="details2">
                            <h4>Esya '14</h4><br/>

                            <p></p>
                        </div>
                    </a>

                    <div class="mosaic-backdrop"><img
                            src="{{ STATIC_URL }}alumniportal/img/esya14.jpg"
                            style="height:100%;width:auto;margin-left:-55px;"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider-4r"></div>

    {% include 'summary_blog.html' %}

    <!--<div class="divider-4r"></div>

    <div class="col-lg-5">
        <div class="mosaic-block3 bar2">
            <div class="mosaic-backdrop">
                <img src="{{ STATIC_URL }}alumniportal/img/raghavsethi.png"/>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <h2>IIIT-Delhi – A three year update </h2>
        <span class="writer">Raghav Sethi, Alumnus 2013</span>

        <p>
            I believe that IIIT-D is among the best places in the country to study computer science (and now possibly
            electronics and communication as well). However, as I... | <a href="http://bookmarkmybrain.wordpress.com/2013/06/26/pick-iiit-delhi-three-year-update/" target="_blank"><span
                class="read-more">Read More</span><span class="glyphicon glyphicon-new-window"
                                                        style="font-size:13px"></span></a>
        </p>
    </div>-->


{% endblock %}

{% block right_content %}

    {% include 'events_upcoming.html' %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/home.js"></script>
{% endblock %}