<html>

<head>
    <title>IIITD Alumni Portal</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="{{ STATIC_URL }}mosaic/css/mosaic.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}mosaic/js/mosaic.1.0.1.js"></script>

    <script type="text/javascript">



    </script>

</head>

<body>

<div id='top'></div>

<div class="container">
<div class="row">

</div>

<div class="row">
    <div id="nav-bar" class="navbar-collapse">
        <ul class="navbar-right">
            <li>Home</li>
            <li>Events</li>
            <li>Blog</li>
            <li>News</li>
            <li>Directory</li>
            <li>Give back</li>
            <li>Contact Us</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" id="green-dabba"></div>
    <div class="col-lg-1"></div>
</div>

<div class="row">
<div id="contentpane" class="col-lg-12">
<div class="row">

    <div class="card-main col-lg-9">

        <!--<h2>Tag here</h2>

        <p style="letter-spacing:1px;">alkfaelifbifbefiowbfweb fowebf weofbweoifn wefnwe fwe
            fweifh weoiefe woifbweoi fweoif weoifwe ofweih f
            wefio whefoi wehofiwe
            hfhiwe foiewhfoi wehfoi whefoiweh foiweh
            f we
            fhwe oifhweoi fhweoifh weoifh
        </p>-->
        <!--Bar 2-->
        <div class="mosaic-block bar2">
            <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
               class="mosaic-overlay">
                <div class="details">
                    <h4>Convocation '14</h4><br/>

                    <p>The third convocation of IIITD inaugurated by Mr. Sunil Kant Munjal (photo credit:
                        Tasveer)</p>
                </div>
            </a>

            <div class="mosaic-backdrop"><img
                    src="{{ STATIC_URL }}mosaic/img/news-1.jpg"/></div>
        </div>
        <!--Fade-->
        <div class="mosaic-block2 fade2">
            <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
               class="mosaic-overlay">
                <div class="details2">
                    <h4>I Am Not Human - Unique Self Portraits</h4><br/>

                    <p>via the Nonsense Society (photo credit: Dan Deroches)</p>
                </div>
            </a>

            <div class="mosaic-backdrop"><img
                    src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"/></div>
        </div>

        <div class="mosaic-block3 fade2">
            <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
               class="mosaic-overlay">
                <div class="details2">
                    <h4>I Am Not Human - Unique Self Portraits</h4><br/>

                    <p>via the Nonsense Society (photo credit: Dan Deroches)</p>
                </div>
            </a>

            <div class="mosaic-backdrop"><img
                    src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"/></div>
        </div>

        <div class="mosaic-block3 fade2">
            <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
               class="mosaic-overlay">
                <div class="details2">
                    <h4>I Am Not Human - Unique Self Portraits</h4><br/>

                    <p>via the Nonsense Society (photo credit: Dan Deroches)</p>
                </div>
            </a>

            <div class="mosaic-backdrop"><img
                    src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"/></div>
        </div>

        <div class="mosaic-block3 fade2">
            <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
               class="mosaic-overlay">
                <div class="details2">
                    <h4>I Am Not Human - Unique Self Portraits</h4><br/>

                    <p>via the Nonsense Society (photo credit: Dan Deroches)</p>
                </div>
            </a>

            <div class="mosaic-backdrop"><img
                    src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"/></div>
        </div>
    </div>

    <div class="card-event col-lg-3">
        <div class="well text-center">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140"
                 src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"
                 style="width:140px;height:140px">

            <h2>Convocation '14</h2>

            <table class="table table-hover">
                <tr>
                    <td>Venue:</td>
                    <td class="text-center">IIITD</td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td class="text-center">2pm, 31 August '14</td>
                </tr>
            </table>

            <p>
                <a class="btn btn-primary" href="">Go to page</a>
            </p>
        </div>
    </div>

</div>



<div class="row">
    <div class="card-main col-lg-9">


        <div class="row">
            <!--Bar 2-->
            <div class="col-lg-5">
                <div class="mosaic-block bar2">
                    <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
                       class="mosaic-overlay-stick">
                        <div class="details">
                            <h4>I Am Not Human - Unique Self Portraits</h4><br/>

                            <p>via the Nonsense Society (photo credit: Dan Deroches)</p>
                        </div>
                    </a>

                    <div class="mosaic-backdrop"><img
                            src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <h2>Tag here</h2>

                <p style="letter-spacing:1px;">alkfaelifbifbefiowbfweb fowebf weofbweoifn wefnwe fwe
                    fweifh weoiefe woifbweoi fweoif weoifwe ofweih f
                    wefio whefoi wehofiwe
                    hfhiwe foiewhfoi wehfoi whefoiweh foiweh
                    f we
                    fhwe oifhweoi fhweoifh weoifhalkfaelifbifbefiowbfweb fowebf weofbweoifn wefnwe fwe
                    fweifh weoiefe woifbweoi fweoif weoifwe ofweih f
                    wefio whefoi wehofiwe
                    hfhiwe foiewhfoi wehfoi whefoiweh foiweh
                    f we
                    fhwe oifhweoi fhweoifh weoifh
                </p>
            </div>

        </div>


    </div>
</div>
</div>

</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" id="green-dabba-2"></div>
    <div class="col-lg-1"></div>
</div>

<div class="row">
    <div class="footer"></div>
</div>
</div>
</body>

</html>
