<!-- Main Element for Full width -->
<div id="nav-bar-main" class="row navbar-fixed-top">
    <div class="container">
        <!-- Element for actual navbar -->

        <div class="row">
            <div class="pull-left">
                <a href="/"><img src="{{ STATIC_URL }}alumniportal/img/alumni-logo.png" style="height:50px;margin-top:15px;"/></a>
            </div>
            <div id="nav-bar" class="pull-right">
                <ul>
                    <a href="/"><li class="glyphicon glyphicon-home"><span class="nav-bar-font">Home</span></li></a>
                    <a href="/news/"><li class="glyphicon glyphicon-globe"><span class="nav-bar-font">News</span></li></a>
                    <a href="/blog/"><li class="glyphicon glyphicon-pencil"><span class="nav-bar-font">Blog</span></li></a>
                    <a href="/directory/"><li class="glyphicon glyphicon-user"><span class="nav-bar-font">Directory</span></li></a>
                    <a href="/giveback/"><li class="glyphicon glyphicon-repeat"><span class="nav-bar-font">Give Back</span></li></a>
                    <a href="/contact_us/"><li class="glyphicon glyphicon-comment"><span class="nav-bar-font">Contact Us</span></li></a>
                    <a href="/accounts/google/login/"><li id="loggedin"><span class="nav-bar-font">Hi, Sauhard!</span></li></a>
                </ul>
            </div>
        </div>
    </div>
</div>