<!-- Main Element for Full width -->
<div id="nav-bar-main" class="row navbar-fixed-top">
    <div class="container">
        <!-- Element for actual navbar -->
        <div class="row pull-right">
            <div id="nav-bar">
                <ul>
                    <li>Home</li>
                    <li>Events</li>
                    <li>Blog</li>
                    <li>News</li>
                    <li>Directory</li>
                    <li>Give back</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>