<div class="row">
    <div class="col-lg-5">
        <div class="mosaic-block3 bar2">
            <div class="mosaic-backdrop">
                <img src="{{ STATIC_URL }}alumniportal/img/IIITD-grad.jpg" style="left:0;top:0;height:100%;width:180%;margin-left:-60px;"/>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <h2 style="height:155px;font-size:35px !important;">Graduating batches of IIIT-D share campus life experiences</h2>
        <span class="info-no-colour">Wednesday, May 7, 2014 @IIITD</span>
    </div>
</div>