{% include 'news_short.html' %}
<div class="row" style="margin-top:10px;">
    <div class="col-lg-12">
        <p>
            For graduating B.Tech and M.Tech batches of IIIT-D, it was time to bid adieu to the institute as they
            mingled with the faculty and staff for one last time and expressed their gratitude to them for helping them
            all through their programs of study.
        </p>

        <p>

            Overwhelmed with emotions at the May 7 interactive meeting, they profusely thanked the faculty and staff for
            their holistic growth during their stay at the institute, a period, they say, they would remember throughout
            their life.
        </p>

        <p>
            “We were both excited and emotional. Jubilation was there as students were venturing into a professional
            world outside, but at the same time they were feeling deeply emotional for breaking away from the routine
            campus life,” says Kashish Chawla of the graduating B.Tech (CSE) batch.
        </p>

        <p>
            IIIT-D Director Prof Pankaj Jalote encouraged students to share their experiences, while faculty members
            also came forward to speak about the graduating batches and wished them luck in their future endeavours.
        </p>

        <p>
            Arjun Ahuja, another student from the graduating B.Tech batch, described his campus life at the IIIT-D as
            memorable. “We all thanked the institute’s very helpful faculty and staff for guiding us in each and every
            field so efficiently. We would all treasure this experience,” he added.
        </p>
    </div>
</div>