{% extends 'base.html' %}

{% block title %}IIITD Alumni Association{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/profile.css">
{% endblock %}
{% block main %}
    <div id="profile-container" class="row">
            <div class="row">
                <div class="col-lg-8">
                    <div id="banner">
                        <img src="{{ STATIC_URL }}alumniportal/img/convocation13.jpg">
                        <div class="profilepic"></div>
                    </div>
                </div>
                <div class="col-lg-4 pull-right">
                    <div style="height: 300px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div style="height: 500px">
                    </div>
                </div>
                <div class="col-lg-4 pull-right">
                    <div style="height: 500px">
                    </div>
                </div>
            </div>
    </div>
{% endblock %}