<div class="col-lg-4">
    <div class="mosaic-block2 fade2">
        <a href="http://www.nonsensesociety.com/2010/12/i-am-not-human-portraits/" target="_blank"
           class="mosaic-overlay">
            <div class="details2">
                <h4>I Am Not Human - Unique Self Portraits</h4><br/>

                <p>via the Nonsense Society (photo credit: Dan Deroches)</p>
            </div>
        </a>

        <div class="mosaic-backdrop"><img
                src="http://buildinternet.s3.amazonaws.com/projects/mosaic/desroches.jpg"/></div>
    </div>
</div>
            