<div class="col-lg-4">
    <div class="mosaic-block2 fade2">
        <a href="#" target="_blank" class="mosaic-overlay">
            <div class="details2">
                <h4>Research Showcase '14</h4><br/>

                <p>Let's Go Invent!<br/>@Sunday, 22 March 2014</p>
            </div>
        </a>

        <div class="mosaic-backdrop"><img
                src="{{ STATIC_URL }}alumniportal/img/research-showcase-2014.jpg" style="height:100%;width:auto;margin-left:-125px;"/></div>
    </div>
</div>