<div class="row">
    <div class="col-lg-5">
        <div class="mosaic-block3 bar2">
            <div class="mosaic-backdrop">
                <img src="#"/>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <h2>Blog Name</h2>

        <p>
            pknwepffwefpiwnfpownfpwenf pwenfpwgn wrpgnwrogn rogneroig
            neroiigneogeroigneroineroigner o e g errgo engoiengoje
            gkje gojeng oiengoiegoengoengoerngoer ngoire ngoer
            ngoerign eroig neoig neroig nerg
        </p>
    </div>
</div>