<div class="row">
    <div class="col-lg-5">
        <div class="mosaic-block3 bar2">
            <div class="mosaic-backdrop">
                <img src="{{ STATIC_URL }}alumniportal/img/director-sir.jpg"/>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <h2>Role of Alumni in an Institute</h2>
        <span class="writer">Pankaj Jalote, Director, IIIT-Delhi</span>

        <p>
            To a large extent what alumni do with their lives define the stature of an Institute. And we have
            provided a strong foundation for you to do well in life... | <a href=""><span
                class="read-more">Read More</span><span
                class="glyphicon glyphicon-new-window" style="font-size:13px"></span></a>
        </p>
    </div>
</div>