{% extends 'base.html' %}

{% block title %}Alumni Directory{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/directory.css">
{% endblock %}

{% block left_content %}

    <div class="row input-form">
        <h2>Add News</h2>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Headline</span>
            <input type="text" class="form-control" style="width:350px;">
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Date</span>
            <input type="date" class="form-control" style="width:350px;">
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Article</span>
            <textarea class="form-control" id="textarea" rows="3" style="width:350px;"></textarea>
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Image</span>
            <input type="file" class="form-control" style="width:350px">
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Gallery Link</span>
            <input type="text" class="form-control" style="width:350px;">
        </div>

        <button type="submit" class="btn btn-warning" style="width: 110px;margin-top: 10px;">Add</button>
    </div>

    <div class="row input-form" style="margin-top:50px;">
        <h2>Add Event</h2>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Headline</span>
            <input type="text" class="form-control" style="width:350px;">
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Date</span>
            <input type="date" class="form-control" style="width:350px;">
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Article</span>
            <textarea class="form-control" id="textarea" rows="3" style="width:350px;"></textarea>
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Image</span>
            <input type="file" class="form-control" style="width:350px">
        </div>

        <div class="input-group">
            <span class="input-group-addon" style="width:110px;">Gallery Link</span>
            <input type="text" class="form-control" style="width:350px;">
        </div>

        <button type="submit" class="btn btn-warning" style="width: 110px;margin-top: 10px;">Add</button>
    </div>

    <div class="row input-form" style="margin-top:50px;">
        <h2>Directory</h2>

        <div class="input-group" style="width: 300px;margin-top:10px;">
            <div class="dropdown pull-left">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Graduation Year
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" style="margin-top: -10px">
                    {% for year in grad_years %}
                        <li><a onclick="yearSelected(this.innerHTML)">{{ year.graduation_year }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown pull-right">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Degree Type
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" style="margin-top: -10px">
                    {% for year in grad_years %}
                        <li><a onclick="yearSelected(this.innerHTML)">{{ year.graduation_year }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="input-group" style="margin-top:0;">
            <span class="input-group-addon" style="width:80px;">CSV</span>
            <input type="file" class="form-control" style="width:220px">
        </div>

        <button type="submit" class="btn btn-warning" style="width: 110px;margin-top: 10px;">Upload</button>
    </div>

{% endblock %}

{% block right_content %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/directory.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}