{% extends 'profile_form.html' %}
{% load socialaccount %}

{% block additional_styling %}
    <link rel="stylesheet" href="{{ STATIC_URL }}selectize/css/selectize.css">
    <script src="{{ STATIC_URL }}pace/js/pace.min.js"></script>
    <link href="{{ STATIC_URL }}pace/css/pace-flash.css" rel="stylesheet"/>
{% endblock %}

{% block profile_form_left %}
    <h3>Personal Details</h3>

    <form class="row input-form" style="width: 600px;">

    <div class="form-group input-group" id="" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Name</span>
        <input id="id_name" name="name" type="text" class="form-control" style="border-radius:0 5px 5px 0;"
               value="Archit Agarwal" disabled>
    </div>

    <div id="id_email_errors"
         style="color: #C33; margin: 0 0 -10px 115px; list-style: none inside">
        <!--style="color: #C00; margin: 15px 0 -10px 0px; padding: 10px 0 0 10px; border: 1px solid #CCC; border-radius: 5px; background-color: #DDD; list-style: none inside"-->

    </div>

    <div class="form-group input-group" id="id_email" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Email</span>
        <input id="id_email"
               name="email"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;"
               disabled>
        </input>
    </div>


    <div id="id_personal_email_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        Please check the email address.
    </div>

    <div class="form-group input-group" id="id_personal_email" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Personal email</span>
        <input id="id_personal_email"
               name="personal_email"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;"
               required>
        </input>
    </div>


    <div id="id_gender_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside">

    </div>

    <div class="form-group input-group" id="id_gender" style="width: 600px;">


        <span class="input-group-addon" style="width: 140px;">Gender</span>

        <select id="id_gender" name="gender"
                class="form-control"
                style="border-radius: 0 5px 5px 0;">
            <option value="F">Female</option>

            <option value="M">Male</option>

            <option value="O">Other</option>

        </select>
    </div>


    <div id="id_marital_status_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside">
        <!--style="color: #C00; margin: 15px 0 -10px 0px; padding: 10px 0 0 10px; border: 1px solid #CCC; border-radius: 5px; background-color: #DDD; list-style: none inside"-->

    </div>

    <div class="form-group input-group" id="id_marital_status" style="width: 600px;">


        <span class="input-group-addon" style="width: 140px;">Marital status</span>

        <select id="id_marital_status" name="marital_status"
                class="form-control"
                style="border-radius: 0 5px 5px 0;">

            <option value="S">Single</option>
            <option value="M">Married</option>

        </select>
    </div>


    <div class="row" style="height: 20px;margin: 30px 0 40px;">
        <div class="col-lg-3 divider-4r"></div>
        <div class="col-lg-6 text-center" style="font-size: 20px;color: #666666">
            Location
        </div>
        <div class="col-lg-3 divider-4r"></div>
    </div>

    <div class="row" style="padding-left: 14px; padding-right: 14px">
        <div class="pull-left" id="" style="width: 280px;">

            {#        <span class="input-group-addon" style="width: 140px;">City</span>#}
            {#        <input id="id_city" name="city" type="text" class="form-control" style="border-radius:0 5px 5px 0;">#}
            <span class="" style="width: 140px;">Current city</span>

            <select id="id_city" placeholder="Enter your city...">
            </select>
        </div>

        {#    <div class="form-group input-group pull-right" id="" style="width: 280px;">#}
        <div class="pull-right" style="width: 280px;">

            <span class="" style="width: 140px;">Current country</span>

            <select id="id_country" placeholder="Select a country...">
            </select>

        </div>
    </div>


    {% include 'divider_hr.html' %}


    <div id="id_linkedin_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a LinkedIn account
    </div>

    <div class="form-group input-group" id="id_linkedin_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Linkedin profile</span>
        <input id="id_linkedin_profile"
               name="linkedin_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_facebook_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a Facebook account
    </div>

    <div class="form-group input-group" id="id_facebook_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Facebook profile</span>
        <input id="id_facebook_profile"
               name="facebook_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_google_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a Google Plus account
    </div>

    <div class="form-group input-group" id="id_google_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Google profile</span>
        <input id="id_google_profile"
               name="google_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_twitter_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a Twitter account
    </div>

    <div class="form-group input-group" id="id_twitter_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Twitter profile</span>
        <input id="id_twitter_profile"
               name="twitter_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_homepage_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a valid URL.
    </div>

    <div class="form-group input-group" id="id_homepage" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Homepage</span>
        <input id="id_homepage"
               name="homepage"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <button type="button" class="btn btn-warning pull-right" onclick="nextButtonClicked()">Next</button>
    </form>

{% endblock %}

{% block profile_form_right %}
    <div class="col-lg-4" style="padding-top: 90px">
        <div id="id_profile_photo_change"
             style="height: 300px; width: 300px; position: absolute; margin-left: -30px; border-radius: 50%; overflow: auto"/>
        <div style="height: 25%; width: 100%; bottom: 0;background-color: rgba(44, 44, 44, 0.8); position: absolute; bottom: 0; text-align: center; font-size: 30px; color: #CCC; padding-top: 20px;">
            <span class="glyphicon glyphicon-upload" style="cursor: pointer"></span> | <span
                class="glyphicon glyphicon-remove" style="cursor: pointer"></span></div>
    </div>
    <div id="id_profile_photo"
         style="height: 300px; width: 300px; background-image: url('{{ STATIC_URL }}alumniportal/img/user.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; border-radius: 50%; border: 1px solid #AAA; margin-left: -30px;"></div>
    </div>

    <div class="form-group input-group" id="id_profile_photo_div">
        <input id="id_profile_photo_input" name="profile_photo" type="file" style="display: none">
        </input>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        Pace.on('start', function () {
            $('#loading-overlay').css('display', 'block');
        });
        Pace.on('done', function () {
            $('#loading-overlay').css('display', 'none');
        });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}selectize/js/standalone/selectize.js"></script>
    <script type="text/javascript">
        var user_data = {};
        var full_user_data = {};

        //validate functions
        function personal_email_validate(){
            console.log("rh");
            var email_add = $('input#id_personal_email').val();
            if (email_add != "") {
                if (!isEmail(email_add)) {
                    console.log("Email not valid.");
                    $('#id_personal_email_errors').css('display', 'block');
                    $('input#id_personal_email').css('border', '1px solid #A00');
                }

            }
        }

        function facebook_profile_validate(){
            var fb_url = $('input#id_facebook_profile').val();
            if (fb_url != "") {
                if (fb_url.toLowerCase().indexOf('facebook.com') == -1) {
                    $('#id_facebook_profile_errors').css('display', 'block');
                    $('input#id_facebook_profile').css('border', '1px solid #A00');
                }

            }
        }

        function google_profile_validate(){
            var google_url = $('input#id_google_profile').val();
            if (google_url != "") {
                if (google_url.toLowerCase().indexOf('plus.google.com') == -1) {
                    $('#id_google_profile_errors').css('display', 'block');
                    $('input#id_google_profile').css('border', '1px solid #A00');
                }

            }
        }

        function twitter_profile_validate(){
            var twitter_url = $('input#id_twitter_profile').val();
            if (twitter_url != "") {
                if (twitter_url.toLowerCase().indexOf('twitter.com') == -1) {
                    $('#id_twitter_profile_errors').css('display', 'block');
                    $('input#id_twitter_profile').css('border', '1px solid #A00');
                }

            }
        }

        function linkedin_profile_validate(){
            var lin_url = $('input#id_linkedin_profile').val();
            if (lin_url != "") {
                if (lin_url.toLowerCase().indexOf('linkedin.com') == -1) {
                    $('#id_linkedin_profile_errors').css('display', 'block');
                    $('input#id_linkedin_profile').css('border', '1px solid #A00');
                }

            }
        }

        function homepage_validate(){
            var hp = $('input#id_homepage').val();
            if (hp != "") {
                if (hp.toLowerCase().indexOf('.') == -1) {
                    $('#id_homepage_errors').css('display', 'block');
                    $('input#id_homepage').css('border', '1px solid #A00');
                }

            }
        }


        $(document).ready(function () {
            // change the number in the line below to change current progress on the progress bar
            $('div.checkout-wrap ul.checkout-bar li:nth-child(2)').addClass('active');
            // adding class "visited" to all nodes before current active progress
            $('div.checkout-wrap ul.checkout-bar li:nth-child(1)').addClass('visited');
            document.getElementById('id_profile_photo_input').addEventListener('change', handleFileSelect, false);
            fetchCountryList();
            fetchCityList();
            fetchProfileData();
            $('#id_profile_photo_change').css('opacity', '0');
            $('#id_profile_photo_change').mouseenter(function () {
                $('#id_profile_photo_change').css('opacity', '1');
            });
            $('#id_profile_photo_change').mouseleave(function () {
                $('#id_profile_photo_change').css('opacity', '0');
            });
            $('#id_profile_photo_change>div>span:first-child').mouseenter(function () {
                $(this).css('color', 'white')
            });
            $('#id_profile_photo_change>div>span:first-child').mouseleave(function () {
                $(this).css('color', '#CCC')
            });
            $('#id_profile_photo_change>div>span:last-child').mouseenter(function () {
                $(this).css('color', 'red')
            });
            $('#id_profile_photo_change>div>span:last-child').mouseleave(function () {
                $(this).css('color', '#CCC')
            });
            $('#id_profile_photo_change>div>span:first-child').click(function () {
                $('#id_profile_photo_input').click();
            });
            $('#id_profile_photo_change>div>span:last-child').click(function () {
                $('#id_profile_photo').css('background-image', 'url({{ STATIC_URL }}alumniportal/img/user.jpg)');
                new_img_64b = "";
            });
        });
    </script>

    {% block additional_script %}
        <script type="text/javascript">

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function fetchCountryList() {
            $.ajax({
                url: "/api/v1/country/?format=json",
                type: "GET",
                dataType: "json",
                success: function (response, status, xhr) {
                    country_data = response['objects'];
                    populateCountrySelectList();
                },
                error: function (xhr, status, error) {
                    console.log(status + ' ' + error);
                }
            });
        }

        function fetchCityList() {
            $.ajax({
                url: "/api/v1/city/?format=json",
                type: "GET",
                dataType: "json",
                success: function (response, status, xhr) {
                    city_data = response['objects'];
                    populateCitySelectList();
                },
                error: function (xhr, status, error) {
                    console.log(status + ' ' + error);
                }
            });
        }

        {#    Fetch USER Details using the API.#}
        function fetchProfileData() {
            $.ajax({
                url: "/api/v1/current/?format=json",
                type: "GET",
                dataType: "json",
                success: function (response, status, xhr) {
                    full_user_data = response;
                    user_data = response['objects'][0];
                    populateUserData();
                },
                error: function (xhr, status, error) {
                    console.log(status + ' ' + error);
                }
            });
        }

        function saveProfileData() {
            $.ajax({
                url: "/api/v1/current/",
                type: "PUT",
                data: JSON.stringify(full_user_data),
                dataType: "json",
                contentType: "application/json",
                processData: false,
                success: function (response, status, xhr) {
                    window.location.replace('/test/profile/edit/education/');
                },
                error: function (xhr, status, error) {
                    console.log(status + ' ' + error);
                }
            });
        }

        {#    Function to populate the HTML form with user data received from the API.#}
        function populateUserData() {
            console.log(user_data);
            first_name = user_data['first_name'];
            last_name = user_data['last_name'];
            display_name = first_name + " " + last_name;

            $('input#id_name').val(display_name);
            $('input#id_email').val(user_data['email']);
            $('input#id_personal_email').val(user_data['personal_email']);

            $('select#id_gender').val(user_data['gender']);
            $('select#id_marital_status').val(user_data['marital_status']);

            citySelectize[0].selectize.setValue(user_data['current_location']['city']);

            country_selectize[0].selectize.setValue(user_data['current_location']['country']['resource_uri']);

            if (user_data['profile_photo']) {
                image_content_type = user_data['profile_photo']['content-type'];
                image_data = user_data['profile_photo']['file'];
                image_b64_url = 'data:' + image_content_type + ';base64,' + image_data;
                $('#id_profile_photo').css("background-image", "url('" + image_b64_url.replace(/(\r\n|\n|\r)/gm, "") + "')");
            }

            $('input#id_linkedin_profile').val(user_data['linkedin_profile']);
            $('input#id_facebook_profile').val(user_data['facebook_profile']);
            $('input#id_twitter_profile').val(user_data['twitter_profile']);
            $('input#id_google_profile').val(user_data['google_profile']);
            $('input#id_homepage').val(user_data['homepage']);

        }

        var country_selectize;

        function populateCountrySelectList() {
            for (i = 0; i < country_data.length; i++) {
                country_name = country_data[i]['name'];
                country_uri = country_data[i]['resource_uri'];
                $('#id_country').append($('<option>', {
                    value: country_uri,
                    text: country_name
                }));
            }

            country_selectize = $('#id_country').selectize({
                create: false,
                sortField: 'text'
            });
        }

        var citySelectize;
        function populateCitySelectList() {
            for (i = 0; i < city_data.length; i++) {
                city_name = city_data[i]['city'];
                $('#id_city').append($('<option>', {
                    value: city_name,
                    text: city_name
                }));
            }
            citySelectize = $('#id_city').selectize({
                create: true,
                persist: false,
                sortField: 'text'
            });

        }

        var handleFileSelect = function (evt) {
            var files = evt.target.files;
            var file = files[0];

            if (files && file) {
                var reader = new FileReader();

                reader.onload = function (readerEvt) {
                    var binaryString = readerEvt.target.result;
                    b64image = btoa(binaryString);
                    content_type = file['type'];
                    new_img_64b = 'data:' + content_type + ';base64,' + b64image;

                    $('#id_profile_photo').css("background-image", "url('" + new_img_64b.replace(/(\r\n|\n|\r)/gm, "") + "')");
                };

                reader.readAsBinaryString(file);
            }
        };

        $('#id_personal_email').focusout(function () {
            personal_email_validate();
        });
        $('#id_personal_email').focusin(function () {
            $('#id_personal_email_errors').css('display', 'none');
            $('input#id_personal_email').css('border', '1px solid #CCC');
        });

        $('#id_facebook_profile').focusout(function () {
            facebook_profile_validate();
        });
        $('#id_facebook_profile').focusin(function () {
            $('#id_facebook_profile_errors').css('display', 'none');
            $('input#id_facebook_profile').css('border', '1px solid #CCC');
        });

        $('#id_google_profile').focusout(function () {
            google_profile_validate();
        });
        $('#id_google_profile').focusin(function () {
            $('#id_google_profile_errors').css('display', 'none');
            $('input#id_google_profile').css('border', '1px solid #CCC');
        });

        $('#id_twitter_profile').focusout(function () {
            twitter_profile_validate();
        });
        $('#id_twitter_profile').focusin(function () {
            $('#id_twitter_profile_errors').css('display', 'none');
            $('input#id_twitter_profile').css('border', '1px solid #CCC');
        });

        $('#id_linkedin_profile').focusout(function () {
            linkedin_profile_validate();
        });
        $('#id_linkedin_profile').focusin(function () {
            $('#id_linkedin_profile_errors').css('display', 'none');
            $('input#id_linkedin_profile').css('border', '1px solid #CCC');
        });

        $('#id_homepage').focusout(function () {
            homepage_validate();
        });
        $('#id_homepage').focusin(function () {
            $('#id_homepage_errors').css('display', 'none');
            $('input#id_homepage').css('border', '1px solid #CCC');
        });

        function scrollIntoView(eleID)
        {
            var e = document.getElementById(eleID);
            if (!!e && e.scrollIntoView)
            {
                e.scrollIntoView(false);
            }
        }

        function hasError(id)
        {
            if($('#'+id).is(':visible'))
            {
                console.log(id + "is visible")
                scrollIntoView(id);
                return true;
            }
            return false;
        }

        function nextButtonClicked() {

            personal_email_validate();
            facebook_profile_validate();
            google_profile_validate();
            twitter_profile_validate();
            linkedin_profile_validate();
            homepage_validate();

            if( hasError('id_personal_email_errors')
                    //||  hasError('id_gender_errors')
                    //||  hasError('id_marital_status_errors')
                    ||  hasError('id_linkedin_profile_errors')
                    ||  hasError('id_facebook_profile_errors')
                    ||  hasError('id_google_profile_errors')
                    ||  hasError('id_google_profile_errors')
                    ||  hasError('id_homepage_errors')
                    //||  hasError('id_email_errors')
                    ) {
                return;
            }

            full_user_data['objects'][0]['personal_email'] = $('input#id_personal_email').val();
            full_user_data['objects'][0]['gender'] = $('select#id_gender').val();
            full_user_data['objects'][0]['marital_status'] = $('select#id_marital_status').val();
            full_user_data['objects'][0]['linkedin_profile'] = $('input#id_linkedin_profile').val();
            full_user_data['objects'][0]['facebook_profile'] = $('input#id_facebook_profile').val();
            full_user_data['objects'][0]['google_profile'] = $('input#id_google_profile').val();
            full_user_data['objects'][0]['twitter_profile'] = $('input#id_twitter_profile').val();
            full_user_data['objects'][0]['homepage'] = $('input#id_homepage').val();
            if(full_user_data['objects'][0]['current_location'] == null)
            {
                full_user_data['objects'][0]['current_location'] = {
                    'city' : null,
                    'country' : {
                        name : null
                    }

                }
            }
            full_user_data['objects'][0]['current_location']['city'] = $('select#id_city').val();
            full_user_data['objects'][0]['current_location']['country']['name'] = $('select#id_country').text();

            var img = document.getElementById("id_profile_photo").style.backgroundImage;
            if (img == "url(http://127.0.0.1:8000/static/alumniportal/img/user.jpg)")
            {
                full_user_data['objects'][0]['profile_photo'] = null;
            }
            else
            {
                if(full_user_data['objects'][0]['profile_photo'] == null)
                {
                    full_user_data['objects'][0]['profile_photo'] = {}
                }
                full_user_data['objects'][0]['profile_photo']['content_type'] = img.substring(8, img.indexOf(';'));
                full_user_data['objects'][0]['profile_photo']['file'] = img.substring(img.indexOf(',')+1, img.length-1);
                full_user_data['objects'][0]['profile_photo']['name'] = full_user_data['objects'][0]['id'] + '.img';
            }

            saveProfileData();
        }
        </script>

    {% endblock %}

{% endblock %}