{% extends 'profile_form.html' %}
{% load socialaccount %}

{% block profile_form_left %}
    <h4>Education Details</h4>


    <form class="row input-form" action="" method="post"
          enctype="multipart/form-data" style="width: 600px;">
        {% csrf_token %}
{##}
{#        {% for form in formset %}#}
{#            <div>#}
{#                {% for field in form %}#}
{#                    <div class="form-group input-group" id="field.auto_id" style="width: 600px;">#}
{#                        {{ field.help_text }}#}
{#                        <span class="input-group-addon" style="width: 140px;">{{ field.label }}</span>#}
{#                        <{{ field.field.widget.attrs.html_tag }} id="{{ field.id_for_label }}"#}
{#                        name="{{ field.html_name }}"#}
{#                        type="{{ field.field.widget.attrs.html_type }}" class="form-control"#}
{#                        style="border-radius:0 5px 5px 0;">#}
{#                    </{{ field.field.widget.attrs.html_tag }}>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}

        <button type="submit" class="btn btn-warning pull-right"><a href="/test/profile/">Submit</a>
        </button>
    </form>
{% endblock %}

{% block profile_form_right %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // change the number in the line below to change current progress on the progress bar
            $('div.checkout-wrap ul.checkout-bar li:nth-child(3)').addClass('active');
            // adding class "visited" to all nodes before current active progress
            $('div.checkout-wrap ul.checkout-bar li:nth-child(1)').addClass('visited');
            $('div.checkout-wrap ul.checkout-bar li:nth-child(2)').addClass('visited');
        });
    </script>
{% endblock %}