{% extends 'base.html' %}

{% block title %}IIITD Alumni Association{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/profile.css">
{% endblock %}
{% block main %}
    <div id="profile-container" class="row">
            <div class="row">
                <div class="col-lg-9">
                    <div id="banner">
                        <div class="image">
                            <p>
                                <span>Sauhard Gupta</span><br>
                                EMC Corp. India &nbsp;| &nbsp;Software Developer<br>
                                Batch of 2015
                            </p>
                        </div>
                        <div class="pic profilepic"></div>
                        <div class="social-btns">
                            <div class="social-btns-li"></div>
                            <div class="social-btns-fb"></div>
                            <div class="social-btns-gp"></div>
                            <div class="social-btns-tw"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pull-right">
                    <div id="profile-top-right" style="height: 300px">
                        <div class="row">People you may know</div>
                        <div class="row">
                            <div class="pic"></div>
                        </div>
                        <div class="row">
                            <p>
                                <span>Sauhard Gupta</span><br>
                                EMC Corp. India &nbsp;| &nbsp;Software Developer<br>
                                Batch of 2015
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div style="height: 500px">
                    </div>
                </div>
                <div class="col-lg-3 pull-right">
                    <div style="height: 500px">
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{#{% block scripts %}#}
{#    $(document).ready(function() {#}
{#        $("#profile-top-right .pic").mouseEnter(function() {#}
{#            $(this).animate({height: "140px", width: "140px"});#}
{#        });#}
{#        $("#profile-top-right .pic").mouseLeave(function() {#}
{#            $(this).animate({height: "100px", width: "100px"});#}
{#        });#}
{#    });#}
{#{%  endblock %}#}