{% extends 'system_card.html' %}

{% block title %}IIITD Alumni | Edit Profile{% endblock %}

{% block cards_top_left %}
    <div id="banner">
        <div class="image">
            <p>
                <span>Sauhard Gupta</span><br>
                EMC Corp. India &nbsp;| &nbsp;Software Developer<br>
                Batch of 2015
            </p>
        </div>
        <div class="pic profilepic"></div>
        <div class="social-btns">
            <div class="social-btns-li"></div>
            <div class="social-btns-fb"></div>
            <div class="social-btns-gp"></div>
            <div class="social-btns-tw"></div>
        </div>
    </div>
{% endblock %}


{% block cards_top_right %}
    <div id="profile-top-right" style="height: 300px">
        <div class="row">People you may know</div>
        <div class="row">
            <div class="pic"></div>
        </div>
        <div class="row">
            <p>
                <span>Sauhard Gupta</span><br>
                EMC Corp. India &nbsp;| &nbsp;Software Developer<br>
                Batch of 2015
            </p>
        </div>
    </div>
{% endblock %}


{% block cards_bottom %}
{% endblock %}

{#{% block scripts %}#}
{#    $(document).ready(function() {#}
{#        $("#profile-top-right .pic").mouseEnter(function() {#}
{#            $(this).animate({height: "140px", width: "140px"});#}
{#        });#}
{#        $("#profile-top-right .pic").mouseLeave(function() {#}
{#            $(this).animate({height: "100px", width: "100px"});#}
{#        });#}
{#    });#}
{#{%  endblock %}#}