{% extends 'profile_form.html' %}
{% load socialaccount %}

{% block additional_styling %}
    <link rel="stylesheet" href="{{ STATIC_URL }}selectize/css/selectize.css">
    <script src="{{ STATIC_URL }}pace/js/pace.min.js"></script>
    <link href="{{ STATIC_URL }}pace/css/pace-flash.css" rel="stylesheet"/>
{% endblock %}

{% block profile_form_left %}
    <h3>Personal Details</h3>

    <form class="row input-form" style="width: 600px;">

    <div class="form-group input-group" id="" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Name</span>
        <input id="id_name" name="name" type="text" class="form-control" style="border-radius:0 5px 5px 0;"
               value="Archit Agarwal" disabled>
    </div>

    <div id="id_email_errors"
         style="color: #C33; margin: 0 0 -10px 115px; list-style: none inside">
        <!--style="color: #C00; margin: 15px 0 -10px 0px; padding: 10px 0 0 10px; border: 1px solid #CCC; border-radius: 5px; background-color: #DDD; list-style: none inside"-->

    </div>

    <div class="form-group input-group" id="id_email" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Email</span>
        <input id="id_email"
               name="email"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;"
               disabled>
        </input>
    </div>


    <div id="id_personal_email_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        Please check the email address.
    </div>

    <div class="form-group input-group" id="id_personal_email" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Personal email</span>
        <input id="id_personal_email"
               name="personal_email"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;"
               required>
        </input>
    </div>


    <div id="id_gender_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside">

    </div>

    <div class="form-group input-group" id="id_gender" style="width: 600px;">


        <span class="input-group-addon" style="width: 140px;">Gender</span>

        <select id="id_gender" name="gender"
                class="form-control"
                style="border-radius: 0 5px 5px 0;">
            <option value="F">Female</option>

            <option value="M">Male</option>

            <option value="O">Other</option>

        </select>
    </div>


    <div id="id_marital_status_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside">
        <!--style="color: #C00; margin: 15px 0 -10px 0px; padding: 10px 0 0 10px; border: 1px solid #CCC; border-radius: 5px; background-color: #DDD; list-style: none inside"-->

    </div>

    <div class="form-group input-group" id="id_marital_status" style="width: 600px;">


        <span class="input-group-addon" style="width: 140px;">Marital status</span>

        <select id="id_marital_status" name="marital_status"
                class="form-control"
                style="border-radius: 0 5px 5px 0;">

            <option value="S">Single</option>
            <option value="M">Married</option>

        </select>
    </div>


    <div class="row" style="height: 20px;margin: 30px 0 40px;">
        <div class="col-lg-3 divider-4r"></div>
        <div class="col-lg-6 text-center" style="font-size: 20px;color: #666666">
            Location
        </div>
        <div class="col-lg-3 divider-4r"></div>
    </div>

    <div class="row" style="padding-left: 14px; padding-right: 14px">
        <div class="pull-left" id="" style="width: 280px;">

            {#        <span class="input-group-addon" style="width: 140px;">City</span>#}
            {#        <input id="id_city" name="city" type="text" class="form-control" style="border-radius:0 5px 5px 0;">#}
            <span class="" style="width: 140px;">Current city</span>

            <select id="id_city" placeholder="Enter your city...">
            </select>
        </div>

        {#    <div class="form-group input-group pull-right" id="" style="width: 280px;">#}
        <div class="pull-right" style="width: 280px;">

            <span class="" style="width: 140px;">Current country</span>

            <select id="id_country" placeholder="Select a country...">
            </select>

        </div>
    </div>


    {% include 'divider_hr.html' %}


    <div id="id_linkedin_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a LinkedIn account
    </div>

    <div class="form-group input-group" id="id_linkedin_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Linkedin profile</span>
        <input id="id_linkedin_profile"
               name="linkedin_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_facebook_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a Facebook account
    </div>

    <div class="form-group input-group" id="id_facebook_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Facebook profile</span>
        <input id="id_facebook_profile"
               name="facebook_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_google_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a Google Plus account
    </div>

    <div class="form-group input-group" id="id_google_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Google profile</span>
        <input id="id_google_profile"
               name="google_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_twitter_profile_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a Twitter account
    </div>

    <div class="form-group input-group" id="id_twitter_profile" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Twitter profile</span>
        <input id="id_twitter_profile"
               name="twitter_profile"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <div id="id_homepage_errors"
         style="color: #C33; margin: 0 0 -10px 150px; list-style: none inside; display: none">
        That does not seem like a valid URL.
    </div>

    <div class="form-group input-group" id="id_homepage" style="width: 600px;">

        <span class="input-group-addon" style="width: 140px;">Homepage</span>
        <input id="id_homepage"
               name="homepage"
               type="text" class="form-control"
               style="border-radius:0 5px 5px 0;">
        </input>
    </div>


    <button type="button" class="btn btn-warning pull-right" onclick="nextButtonClicked()">Next</button>
    </form>

{% endblock %}

{% block profile_form_right %}
    <div class="col-lg-4" style="padding-top: 90px">
        <div id="id_profile_photo_change"
             style="height: 300px; width: 300px; position: absolute; margin-left: -30px; border-radius: 50%; overflow: auto"/>
        <div style="height: 25%; width: 100%; bottom: 0;background-color: rgba(44, 44, 44, 0.8); position: absolute; bottom: 0; text-align: center; font-size: 30px; color: #CCC; padding-top: 20px;">
            <span class="glyphicon glyphicon-upload" style="cursor: pointer"></span> | <span
                class="glyphicon glyphicon-remove" style="cursor: pointer"></span></div>
    </div>
    <div id="id_profile_photo"
         style="height: 300px; width: 300px; background-image: url('{{ STATIC_URL }}alumniportal/img/user.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; border-radius: 50%; border: 1px solid #AAA; margin-left: -30px;"></div>
    </div>

    <div class="form-group input-group" id="id_profile_photo_div">
        <input id="id_profile_photo_input" name="profile_photo" type="file" style="display: none">
        </input>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        Pace.on('start', function () {
            $('#loading-overlay').css('display', 'block');
        });
        Pace.on('done', function () {
            $('#loading-overlay').css('display', 'none');
        });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}selectize/js/standalone/selectize.js"></script>

    {% block additional_script %}
        <script src="{{ STATIC_URL }}alumniportal/js/profile_form_personal.js"></script>
        <script src="{{ STATIC_URL }}alumniportal/js/utilities.js"></script>

    {% endblock %}

{% endblock %}