{% extends 'profile_form.html' %}
{% load socialaccount %}

{% block additional_styling %}
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/profile_form_education.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui/jquery-ui.min.css">
{% endblock %}

{% block profile_form_left %}
    <h3 style="display: inline-block">Education Details</h3>


    <div id="form-0">

        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right remove-box">
                    <span class="glyphicon glyphicon-trash remove-box-button" title="Remove"> Remove</span>
                </div>
            </div>
        </div>
        <div class="form-box">

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group input-group">
                        <span class="input-group-addon">School</span>
                        <input id="" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Degree</span>
                        <input id="" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Field of Study</span>
                        <input id="" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Degree Level</span>
                        <select class="form-control">
                            <option value="-1">Select Status</option>
                            <option value="1">Undergraduate</option>
                            <option value="2">Postgraduate</option>
                            <option value="3">Doctoral</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group input-group">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
                <span class="form-control">
                    Currently studying
                </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Attended from</span>
                        <input id="" class="form-control startDatepicker">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Attended till</span>
                        <input id="" class="form-control endDatepicker">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">City</span>
                        <select id="" class="form-control"></select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Country</span>
                        <select id="" class="form-control"></select>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block profile_form_right %}
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}alumniportal/js/utilities.js"></script>
    <script src="{{ STATIC_URL }}alumniportal/js/profile_form_education.js"></script>
    <script src="{{ STATIC_URL }}jquery-ui/jquery-ui.min.js"></script>
    {% block additional_script %}
    {% endblock %}
{% endblock %}