{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}IIITD Alumni | Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/profile.css">
{% endblock %}


{% block top_content %}
    <div class="row" style="padding: 0 40px;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width: 100%;background-color: #666">
                <span class="pull-left" style="width: 25%">LinkedIn</span>
                <span class="pull-left" style="width: 25%">Personal</span>
                <span style="width: 25%">Work</span>
                <span class="pull-right" style="width: 25%">Education</span>
            </div>

        </div>
    </div>
{% endblock %}

{% block left_content %}
    <div id="linkprofile">
        <div class="row">
            <h3 style="color: #333; font-weight: normal">
                Click here to fetch your &nbsp;<img src="{{ STATIC_URL }}alumniportal/img/LinkedIn.png" height="34px"
                                               width="143px"> profile!
            </h3>
        </div>
        <br>

{#        <div class="row" style="text-align: center">#}
{#            <a href="{% provider_login_url "linkedin" process="connect" next="/test/profile/edit/personal" %}"><div id="linkedin">#}
{#                <div></div>#}
{#            </div></a>#}
{#        </div>#}
    </div>
{% endblock %}

{% block parent_right_content %}
    <div class="row">
        <div class="col-lg-1" style="padding-top: 41px">
            <h3>OR</h3>
        </div>
        <div class="col-lg-3 pull-right">
            <p id="proceedtosignup">
                <span id="login" style="display: block;margin-bottom: 20px;padding-left: 20px;"><a href="/test/profile/edit/personal"><span>Skip</span></a></span>Proceed to signup
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}alumniportal/js/directory.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}