<html>
<head>
    <title>IIITD Alumni Association</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}alumniportal/css/profile.css">
</head>
<body>
    <div class="col-lg-offset-1 col-lg-10">
        <div class="row">
            <div class="col-lg-8">
                <div id="banner">
                    <img src="{{ STATIC_URL }}alumniportal/img/profile_scenery.jpg">
                    <div class="profilepic"></div>
                </div>
            </div>
            <div class="col-lg-4 pull-right">
                <div style="height: 300px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div style="height: 500px">
                </div>
            </div>
            <div class="col-lg-4 pull-right">
                <div style="height: 500px">
                </div>
            </div>
        </div>
    </div>
</body>
</html>