{% extends 'profile_form.html' %}
{% load socialaccount %}

{% block additional_styling %}
    {#    <style>#}
    {#        .input-form > div:nth-child(odd) > div.col-lg-11 {#}
    {#            background-color: #EEE;#}
    {#            box-shadow: 0 0 0 10px #EEE;#}
    {#            border-radius: 1px;#}
    {#        }#}
    {##}
    {#        .input-form > div:nth-child(even) > div.col-lg-11 {#}
    {#            background-color: #DDD;#}
    {#            box-shadow: 0 0 0 10px #DDD;#}
    {#            border-radius: 1px;#}
    {#        }#}
    {#    </style>#}
{% endblock %}

{% block profile_form_left %}
    <h3>Work Details</h3>

    <form class="row input-form" action="/test/profile/" method="post"
          enctype="multipart/form-data" style="width: 600px;">
        {% csrf_token %}

        {% include 'profile_form_work_form.html' %}


        <div class="row">
            <div class="btn btn-warning btn-add" style="display: inline-block; margin-left: 50%"><b>+</b> Add</div>
        </div>

        <button type="submit" class="btn btn-warning pull-right"><a href="/test/profile">Next</a>
        </button>
    </form>


    {##}
    {#    <form class="row input-form" action="/test/profile/" method="post"#}
    {#          enctype="multipart/form-data" style="width: 600px;">#}
    {#    {% csrf_token %}#}
    {##}
    {#    <div class="row">#}
    {##}
    {#    <div class="col-lg-1" style="text-align: center; padding: 101px 20px; font-size: 36px; color: #CCC">1.#}
    {#    </div>#}
    {##}
    {#    <div id="form0" class="col-lg-11"#}
    {#         style="margin-bottom: 10px; padding-bottom: 20px">#}
    {#    <div class="form-group input-group" id="id_form-0-title" style="width: 600px;">#}
    {#        <span class="input-group-addon" style="width: 140px;">Title</span>#}
    {#        <input id="id_form-0-title" name="form-0-title" class="form-control"#}
    {#               style="border-radius:0 5px 5px 0;"#}
    {#               value="None" type="text">#}
    {#    </div>#}
    {#    <div class="form-group input-group" id="id_form-0-work_type" style="width: 600px;">#}
    {#        <span class="input-group-addon" style="width: 140px;">Work type</span>#}
    {#        <select id="id_form-0-work_type" name="form-0-work_type" class="form-control"#}
    {#                style="border-radius: 0 5px 5px 0;">#}
    {#            <option value="-1">Select Status</option>#}
    {#        </select>#}
    {#    </div>#}
    {#    <div class="form-group input-group" id="id_form-0-position" style="width: 600px;">#}
    {#        <span class="input-group-addon" style="width: 140px;">Position</span>#}
    {#        <input id="id_form-0-position" name="form-0-position" class="form-control"#}
    {#               style="border-radius:0 5px 5px 0;"#}
    {#               value="None" type="text">#}
    {#    </div>#}
    {#    <div class="form-group input-group" id="field.auto_id" style="width: 600px;">#}
    {##}
    {#                    <span class="input-group-addon"><input type="checkbox" name="isCurrent"#}
    {#                                                           onclick="form.remark.value += 'isCurrent'"></span>#}
    {#        <span class="form-control">I currently work here</span>#}
    {##}
    {#    </div>#}
    {#    <div class="form-group input-group" id="id_form-0-start_date" style="width: 600px;">#}
    {#        <span class="input-group-addon" style="width: 140px;">Start date</span>#}
    {#        <input id="id_form-0-start_date" name="form-0-start_date" class="form-control"#}
    {#               style="border-radius:0 5px 5px 0;" value="" type="date">#}
    {#    </div>#}
    {#    <div class="form-group input-group" id="id_form-0-end_date" style="width: 600px;">#}
    {#        <span class="input-group-addon" style="width: 140px;">End date</span>#}
    {#        <input id="id_form-0-end_date" name="form-0-end_date" class="form-control"#}
    {#               style="border-radius:0 5px 5px 0;" value="" type="date">#}
    {#    </div>#}
    {#    <div class="form-group input-group" id="id_form-0-organisation" style="width: 600px;">#}
    {#        <span class="input-group-addon" style="width: 140px;">Organisation</span>#}
    {#        <input id="id_form-0-organisation" name="form-0-organisation" class="form-control"#}
    {#               style="border-radius:0 5px 5px 0;" value="None" type="text">#}
    {#    </div>#}
    {##}
    {#    <div style="width: 600px;">#}
    {#    Location#}
    {#    <br/>#}
    {##}
    {#    <div class="form-group input-group pull-left" id="" style="width: 280px;">#}
    {##}
    {#        <span class="input-group-addon" style="width: 140px;">City</span>#}
    {#        <input id="id_city" name="city" type="text" class="form-control" style="border-radius:0 5px 5px 0;">#}
    {#    </div>#}
    {##}
    {#    <div class="form-group input-group pull-right" id="" style="width: 280px;">#}
    {##}
    {#    <span class="input-group-addon" style="width: 140px;">Country</span>#}
    {##}
    {#    <input id="id_country_name" name="country_name" type="text" class="form-control" list="country"#}
    {#           style="border-radius:0 5px 5px 0;"/>#}
    {#    <datalist id="country" style="padding: 10px;margin:10px;">#}
    {#        <option value="Afghanistan">#}
    {#        <option value="Albania">#}
    {#        <option value="Algeria">#}
    {#        <option value="Andorra">#}
    {#        <option value="Angola">#}
    {#        <option value="Antigua & Deps">#}
    {#        <option value="Argentina">#}
    {#        <option value="Armenia">#}
    {#        <option value="Australia">#}
    {#        <option value="Austria">#}
    {#        <option value="Azerbaijan">#}
    {#        <option value="Bahamas">#}
    {#        <option value="Bahrain">#}
    {#        <option value="Bangladesh">#}
    {#        <option value="Barbados">#}
    {#        <option value="Belarus">#}
    {#        <option value="Belgium">#}
    {#        <option value="Belize">#}
    {#        <option value="Benin">#}
    {#        <option value="Bhutan">#}
    {#        <option value="Bolivia">#}
    {#        <option value="Bosnia Herzegovina">#}
    {#        <option value="Botswana">#}
    {#        <option value="Brazil">#}
    {#        <option value="Brunei">#}
    {#        <option value="Bulgaria">#}
    {#        <option value="Burkina">#}
    {#        <option value="Burundi">#}
    {#        <option value="Cambodia">#}
    {#        <option value="Cameroon">#}
    {#        <option value="Canada">#}
    {#        <option value="Cape Verde">#}
    {#        <option value="Central African Rep">#}
    {#        <option value="Chad">#}
    {#        <option value="Chile">#}
    {#        <option value="China">#}
    {#        <option value="Colombia">#}
    {#        <option value="Comoros">#}
    {#        <option value="Congo">#}
    {#        <option value="Congo {Democratic Rep}">#}
    {#        <option value="Costa Rica">#}
    {#        <option value="Croatia">#}
    {#        <option value="Cuba">#}
    {#        <option value="Cyprus">#}
    {#        <option value="Czech Republic">#}
    {#        <option value="Denmark">#}
    {#        <option value="Djibouti">#}
    {#        <option value="Dominica">#}
    {#        <option value="Dominican Republic">#}
    {#        <option value="Timor Leste">#}
    {#        <option value="Ecuador">#}
    {#        <option value="Egypt">#}
    {#        <option value="El Salvador">#}
    {#        <option value="Equatorial Guinea">#}
    {#        <option value="Eritrea">#}
    {#        <option value="Estonia">#}
    {#        <option value="Ethiopia">#}
    {#        <option value="Fiji">#}
    {#        <option value="Finland">#}
    {#        <option value="France">#}
    {#        <option value="Gabon">#}
    {#        <option value="Gambia">#}
    {#        <option value="Georgia">#}
    {#        <option value="Germany">#}
    {#        <option value="Ghana">#}
    {#        <option value="Greece">#}
    {#        <option value="Grenada">#}
    {#        <option value="Guatemala">#}
    {#        <option value="Guinea">#}
    {#        <option value="Guinea-Bissau">#}
    {#        <option value="Guyana">#}
    {#        <option value="Haiti">#}
    {#        <option value="Honduras">#}
    {#        <option value="Hungary">#}
    {#        <option value="Iceland">#}
    {#        <option value="India">#}
    {#        <option value="Indonesia">#}
    {#        <option value="Iran">#}
    {#        <option value="Iraq">#}
    {#        <option value="Ireland {Republic}">#}
    {#        <option value="Israel">#}
    {#        <option value="Italy">#}
    {#        <option value="Ivory Coast">#}
    {#        <option value="Jamaica">#}
    {#        <option value="Japan">#}
    {#        <option value="Jordan">#}
    {#        <option value="Kazakhstan">#}
    {#        <option value="Kenya">#}
    {#        <option value="Kiribati">#}
    {#        <option value="Korea North">#}
    {#        <option value="Korea South">#}
    {#        <option value="Kuwait">#}
    {#        <option value="Kyrgyzstan">#}
    {#        <option value="Laos">#}
    {#        <option value="Latvia">#}
    {#        <option value="Lebanon">#}
    {#        <option value="Lesotho">#}
    {#        <option value="Liberia">#}
    {#        <option value="Libya">#}
    {#        <option value="Liechtenstein">#}
    {#        <option value="Lithuania">#}
    {#        <option value="Luxembourg">#}
    {#        <option value="Macedonia">#}
    {#        <option value="Madagascar">#}
    {#        <option value="Malawi">#}
    {#        <option value="Malaysia">#}
    {#        <option value="Maldives">#}
    {#        <option value="Mali">#}
    {#        <option value="Malta">#}
    {#        <option value="Marshall Islands">#}
    {#        <option value="Mauritania">#}
    {#        <option value="Mauritius">#}
    {#        <option value="Mexico">#}
    {#        <option value="Micronesia">#}
    {#        <option value="Moldova">#}
    {#        <option value="Monaco">#}
    {#        <option value="Mongolia">#}
    {#        <option value="Montenegro">#}
    {#        <option value="Morocco">#}
    {#        <option value="Mozambique">#}
    {#        <option value="Myanmar, {Burma}">#}
    {#        <option value="Namibia">#}
    {#        <option value="Nauru">#}
    {#        <option value="Nepal">#}
    {#        <option value="Netherlands">#}
    {#        <option value="New Zealand">#}
    {#        <option value="Nicaragua">#}
    {#        <option value="Niger">#}
    {#        <option value="Nigeria">#}
    {#        <option value="Norway">#}
    {#        <option value="Oman">#}
    {#        <option value="Pakistan">#}
    {#        <option value="Palau">#}
    {#        <option value="Panama">#}
    {#        <option value="Papua New Guinea">#}
    {#        <option value="Paraguay">#}
    {#        <option value="Peru">#}
    {#        <option value="Philippines">#}
    {#        <option value="Poland">#}
    {#        <option value="Portugal">#}
    {#        <option value="Qatar">#}
    {#        <option value="Romania">#}
    {#        <option value="Russian Federation">#}
    {#        <option value="Rwanda">#}
    {#        <option value="St Kitts & Nevis">#}
    {#        <option value="St Lucia">#}
    {#        <option value="Saint Vincent & the Grenadines">#}
    {#        <option value="Samoa">#}
    {#        <option value="San Marino">#}
    {#        <option value="Sao Tome & Principe">#}
    {#        <option value="Saudi Arabia">#}
    {#        <option value="Senegal">#}
    {#        <option value="Serbia">#}
    {#        <option value="Seychelles">#}
    {#        <option value="Sierra Leone">#}
    {#        <option value="Singapore">#}
    {#        <option value="Slovakia">#}
    {#        <option value="Slovenia">#}
    {#        <option value="Solomon Islands">#}
    {#        <option value="Somalia">#}
    {#        <option value="South Africa">#}
    {#        <option value="Spain">#}
    {#        <option value="Sri Lanka">#}
    {#        <option value="Sudan">#}
    {#        <option value="Suriname">#}
    {#        <option value="Swaziland">#}
    {#        <option value="Sweden">#}
    {#        <option value="Switzerland">#}
    {#        <option value="Syria">#}
    {#        <option value="Taiwan">#}
    {#        <option value="Tajikistan">#}
    {#        <option value="Tanzania">#}
    {#        <option value="Thailand">#}
    {#        <option value="Togo">#}
    {#        <option value="Tonga">#}
    {#        <option value="Trinidad & Tobago">#}
    {#        <option value="Tunisia">#}
    {#        <option value="Turkey">#}
    {#        <option value="Turkmenistan">#}
    {#        <option value="Tuvalu">#}
    {#        <option value="Uganda">#}
    {#        <option value="Ukraine">#}
    {#        <option value="United Arab Emirates">#}
    {#        <option value="United Kingdom">#}
    {#        <option value="United States of America">#}
    {#        <option value="Uruguay">#}
    {#        <option value="Uzbekistan">#}
    {#        <option value="Vanuatu">#}
    {#        <option value="Vatican City">#}
    {#        <option value="Venezuela">#}
    {#        <option value="Vietnam">#}
    {#        <option value="Yemen">#}
    {#        <option value="Zambia">#}
    {#        <option value="Zimbabwe">#}
    {#    </datalist>#}
    {#    </div>#}
    {#    </div>#}
    {##}
    {#    <div class="form-group input-group" id="id_form-0-id" style="width: 600px; margin: 0;">#}
    {#        <input id="id_form-0-id" name="form-0-id" class="form-control" style="border-radius:0 5px 5px 0;"#}
    {#               value="None" type="hidden">#}
    {#    </div>#}
    {#    </div>#}
    {##}
    {#    </div>#}
    {##}
    {#    <div class="row" style="width: 600px;margin-left: 50px;">#}
    {#        <div class="divider-4r"></div>#}
    {##}
    {#    </div>#}
    {##}
    {##}
    {#    <div class="row">#}
    {#        <div class="btn btn-warning btn-add" style="display: inline-block; margin-left: 50%"><b>+</b> Add</div>#}
    {#    </div>#}
    {##}
    {#        <div id="form1" style="border-bottom: solid 1px #CCC; margin-bottom: 25px; padding-bottom: 45px; display: none">#}
    {#            <div class="form-group input-group" id="id_form-1-title" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Title</span>#}
    {#                <input id="id_form-1-title" name="form-1-title" class="form-control" style="border-radius:0 5px 5px 0;"#}
    {#                       value="None" type="text">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-1-work_type" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Work type</span>#}
    {#                <select id="id_form-1-work_type" name="form-1-work_type" class="form-control"#}
    {#                        style="border-radius: 0 5px 5px 0;">#}
    {#                    <option value="-1">Select Status</option>#}
    {#                </select>#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-1-start_date" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Start date</span>#}
    {#                <input id="id_form-1-start_date" name="form-1-start_date" class="form-control"#}
    {#                       style="border-radius:0 5px 5px 0;" value="" type="date">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-1-end_date" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">End date</span>#}
    {#                <input id="id_form-1-end_date" name="form-1-end_date" class="form-control"#}
    {#                       style="border-radius:0 5px 5px 0;" value="" type="date">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-1-organisation" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Organisation</span>#}
    {#                <input id="id_form-1-organisation" name="form-1-organisation" class="form-control"#}
    {#                       style="border-radius:0 5px 5px 0;" value="None" type="text">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-1-id" style="width: 600px;">#}
    {#                <input id="id_form-1-id" name="form-1-id" class="form-control" style="border-radius:0 5px 5px 0;"#}
    {#                       value="None" type="hidden">#}
    {#            </div>#}
    {#            <div class="btn btn-warning btn-add" style="float: right;">Add#}
    {#            </div>#}
    {#        </div>#}
    {#        <div id="form2" style="border-bottom: solid 1px #CCC; margin-bottom: 25px; display: none;">#}
    {#            <div class="form-group input-group" id="id_form-2-title" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Title</span>#}
    {#                <input id="id_form-2-title" name="form-2-title" class="form-control" style="border-radius:0 5px 5px 0;"#}
    {#                       value="None" type="text">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-2-work_type" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Work type</span>#}
    {#                <select id="id_form-2-work_type" name="form-2-work_type" class="form-control"#}
    {#                        style="border-radius: 0 5px 5px 0;">#}
    {#                    <option value="-1">Select Status</option>#}
    {#                </select>#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-2-start_date" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Start date</span>#}
    {#                <input id="id_form-2-start_date" name="form-2-start_date" class="form-control"#}
    {#                       style="border-radius:0 5px 5px 0;" value="" type="date">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-2-end_date" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">End date</span>#}
    {#                <input id="id_form-2-end_date" name="form-2-end_date" class="form-control"#}
    {#                       style="border-radius:0 5px 5px 0;" value="" type="date">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-2-organisation" style="width: 600px;">#}
    {#                <span class="input-group-addon" style="width: 140px;">Organisation</span>#}
    {#                <input id="id_form-2-organisation" name="form-2-organisation" class="form-control"#}
    {#                       style="border-radius:0 5px 5px 0;" value="None" type="text">#}
    {#            </div>#}
    {#            <div class="form-group input-group" id="id_form-2-id" style="width: 600px;">#}
    {#                <input id="id_form-2-id" name="form-2-id" class="form-control" style="border-radius:0 5px 5px 0;"#}
    {#                       value="None" type="hidden">#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    <button type="submit" class="btn btn-warning pull-right"><a href="/test/profile">Next</a>#}
    {#    </button>#}
    {#    </form>#}

{% endblock %}

{% block profile_form_right %}
{% endblock %}

{% block additional_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            // change the number in the line below to change current progress on the progress bar
            $('div.checkout-wrap ul.checkout-bar li:nth-child(4)').addClass('active-end');
            // adding class "visited" to all nodes before current active progress
            $('div.checkout-wrap ul.checkout-bar li:nth-child(1)').addClass('visited');
            $('div.checkout-wrap ul.checkout-bar li:nth-child(2)').addClass('visited');
            $('div.checkout-wrap ul.checkout-bar li:nth-child(3)').addClass('visited');
            $('ul.checkout-bar').css("background-color", "#333333");

            // JS to add more instances of the work-form using the ADD button
            counter = 1;
            $(".btn-add").click(function () {
{#                $("#form".concat(counter - 1)).css("padding-bottom", "10px");#}
                {#                $("#form".concat(counter - 1)).css("background-color", "white");#}
                {#                $("#form".concat(counter - 1)).css("box-shadow", "none");#}
                {#                $("#form".concat(counter)).css("background-color", "#F4F4F4");#}
                {#                $("#form".concat(counter)).css("box-shadow", "0 0 3px 15px #F4F4F4");#}
{#                $("#form".concat(counter)).slideDown("fast");#}
//        $("#form".concat(counter)).delay(5000).css("background-color", "white");
//        $("#form".concat(counter)).delay(5000).css("box-shadow", "none");

                //
                $('#form'+(counter-1)).css("margin-bottom", "25px");
                $('#form'+(counter-1)).after('<div class="row">\
            <div class="col-lg-1" style="text-align: center; padding: 101px 20px; font-size: 36px; color: #CCC">'+(counter+1)+'.</div>\
            <div id="form'+counter+'" class="col-lg-11" \
                 style="border-bottom: solid 1px #CCC; margin-bottom: 10px; padding-bottom: 20px">\
                <div class="form-group input-group" id="id_form-0-title" style="width: 600px;">\
                    <span class="input-group-addon" style="width: 140px;">Title</span>\
                    <input id="id_form-0-title" name="form-0-title" class="form-control"\
                           style="border-radius:0 5px 5px 0;"\
                           value="None" type="text">\
                </div>\
                <div class="form-group input-group" id="id_form-0-work_type" style="width: 600px;">\
                    <span class="input-group-addon" style="width: 140px;">Work type</span>\
                    <select id="id_form-0-work_type" name="form-0-work_type" class="form-control" \
                            style="border-radius: 0 5px 5px 0;">\
                        <option value="-1">Select Status</option>\
                    </select>\
                </div>\
                <div class="form-group input-group" id="id_form-0-start_date" style="width: 600px;">\
                    <span class="input-group-addon" style="width: 140px;">Start date</span>\
                    <input id="id_form-0-start_date" name="form-0-start_date" class="form-control" \
                           style="border-radius:0 5px 5px 0;" value="" type="date">\
                </div>\
                <div class="form-group input-group" id="id_form-0-end_date" style="width: 600px;">\
                    <span class="input-group-addon" style="width: 140px;">End date</span>\
                    <input id="id_form-0-end_date" name="form-0-end_date" class="form-control"\
                           style="border-radius:0 5px 5px 0;" value="" type="date">\
                </div>\
                <div class="form-group input-group" id="id_form-0-organisation" style="width: 600px;">\
                    <span class="input-group-addon" style="width: 140px;">Organisation</span>\
                    <input id="id_form-0-organisation" name="form-0-organisation" class="form-control" \
                           style="border-radius:0 5px 5px 0;" value="None" type="text">\
                </div>\
                <div class="form-group input-group" id="id_form-0-id" style="width: 600px; margin: 0;">\
                    <input id="id_form-0-id" name="form-0-id" class="form-control" style="border-radius:0 5px 5px 0;" \
                           value="None" type="hidden">\
                </div>\
            </div>\
        </div>');
                counter = counter + 1;
            });
        });
    </script>
{% endblock %}