#profile-container {
    margin-top: 20px;
    padding: 0 5px;
}

#profile-container>div>div {
    padding: 8px;
}

#profile-container>div>div>div {
	opacity: 0.95;
	padding: 0 !important;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(17, 17, 17);
    border-radius: 3px;
}
#profile-container>div>div>div:hover {
	opacity: 1;
}

#banner {
	height: 300px;
	padding: 0;
}

.image {
    background-image: url('../img/convocation13.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 170px;
	margin: 0;
    border-radius: 3px 3px 0 0;
}

#banner .image p {
    margin-left: 150px; padding-top: 180px;
    font-size: 22px;
}
#banner .image p span {
    font-size: 26px;
    font-weight: bold;
}

.pic {
    background-image: url('../img/profile_Sauhard.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px; width: 100px;
	border-radius: 50%;
    box-shadow: 0 0 1px 8px #EEE;
    margin: auto;
}

.profilepic {
	position: absolute;
	top: 143px; left: 5%;
	border-radius: 50%;
	box-shadow: 0 0 1px 8px white;
	z-index: 2;
}

.social-btns {
    position: absolute;
    bottom: 0; right: 0;
    padding: 0 22px 12px 0;
}
.social-btns>div {
    height: 30px; width: 30px;
    border-radius: 50%;
    border: 3px solid #DDD;
    padding: 3px;
    box-shadow: 0 2px 3px #909090;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}
.social-btns>div:hover {
    box-shadow: inset 0 0 25px rgba(0,255,255,0.5);
}
.social-btns-li {
    background-image: url('../img/socio-li.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.social-btns-fb {
    background-image: url('../img/socio-fb.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.social-btns-gp {
    background-image: url('../img/socio-gp.png');
    background-color: #d34836;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.social-btns-tw {
    background-image: url('../img/socio-tw.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#linkedin {
    height: 100px; width: 100px;
    border-radius: 50%;
    border: 3px solid #DDD;
    padding: 3px;
    box-shadow: 0 2px 3px #909090;
    display: inline-block;
    cursor: pointer;
    background-image: url('../img/socio-li.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#linkedin>div {
    height: 100%; width: 100%;
    border-radius: 50%;
    box-shadow: inset -3px -2px 10px rgba(250, 250, 250, 0.7);
}
#linkedin>div:hover {
    box-shadow: inset 2px 1px 8px rgba(250, 250, 250, 0.7);
}

#profile-top-right .row {
    text-align: center;
    font-size: 24px;
    padding: 15px 0;
}
#profile-top-right .row p {
    font-size: 14px;
}
#profile-top-right .row p span {
    font-size: 16px;
    font-weight: bold;
}

#profile-top-right .pic:hover {
    box-shadow: 0 0 1px 8px rgba(5,255,255,0.4);
    height: 140px; width: 140px;
    margin-top: -20px; margin-bottom: -20px;
    cursor: pointer;
}

#linkprofile {
    background-color: #D0D0D0;
    border-bottom: 2px solid #444;
    box-shadow: 0 2px 5px #111;
    padding: 10px 50px 5px 50px;
    border-radius: 5px;
    cursor: pointer;
}
#linkprofile:hover {
    background-color: #DFDFDF;
}
#linkprofile img {
    margin-top: -6px;
}

#proceedtosignup {
    margin-top: 47px;
    font-size: 18px;
    cursor: pointer;
}
#proceedtosignup:hover {
    text-decoration: underline;
    color: #222;
}