.pic {
    /*background-image: url('../img/Ankur.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 60px; width: 60px;
	border-radius: 50%;
    box-shadow: 0 0 1px 3px #DDD;
    margin: 5px -25px;
}

#email-overlay {
    position: fixed;
    z-index: 10000;
    background-color: rgba(0,6,10,0.9);
    width: 100%;
    height: 100%;
    margin-top: -60px;

    min-height: 100%;
    min-height: 100vh;
    display: none;
    align-items: center;
}
#email-overlay div {
    display: none;
    text-align: center;
    background-color: #EEE;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px #AAA;
}
#email-overlay div h2 span {
    color: #3FADA8;
}
#email-overlay div input {
    margin: 10px;
    width: 80%;
}

#search-results-left div.row div.row {
	color: #444;
}
#search-results-left div.row div.row:hover {
	color: #111;
}
#search-results-left div.row div.row input {
	vertical-align: top;
	margin-bottom: 5px;
	cursor: pointer;
}
#search-results-left #txtothers {
	display: none;
}

#search-results-right div.row {
	padding: 20px 40px;
    border-bottom: 1px solid #CCC;
}
#search-results-right div.row:hover {
    background-color: #F4F4F4;
    box-shadow: 0 2px 5px #DDD;
}

#search-results-right>h4:first-child {
    padding-left: 30px;
    color: #777;
}
#search-results-right>h4:first-child>span {
    color: #444;
}

.glyphicon-envelope {
    cursor: pointer;
}